@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#ffd978] hover:shadow-[0px_10px_8px_-7px_#69a79c] py-2 px-6;
  }
  .secondary-btn {
    @apply inline-block bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 font-semibold rounded-lg duration-200  hover:shadow-[0px_10px_8px_-7px_#69a79c] py-3 px-5;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
}

#bds{
  -webkit-box-shadow:0px 0px 105px 0px rgba(45,255,196,0.9);
  -moz-box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
  box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
}

html{
  scroll-behavior: smooth;
}

